data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/models/*
!data/models/.gitkeep
notebooks/*
!notebooks/.gitkeep
logs/*
!logs/.gitkeep
__pycache__/
.vscode/
*./py[codz]
*$py.class
*.org
*.npz
*.npy
*.pt
*.pth
*.ckpt
*.h5
*.hdf5
*.onnx
*.pkl
*.joblib
